<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <title>{{.Title}}</title>
  {{range .Styles}}
  <style>
{{.}}
.container {
  display: flex;
  width: 100%;
}
#network {
  height: 100vh;
  width: 100%;
  min-width: 600px;
  margin:5px;
  border: 1px solid lightgray;
}
#config {
  width: 400px;
}
  </style>
  {{end}}
  {{range .Scripts}}
  <script>
{{.}}
  </script>
  {{end}}
</head>

<body>
  <div class="container">
    <div id="network"></div>
    <div id="config"></div>
  </div>
  <script>
   {{.MainJs}}
  </script>
</body>

</html>
